*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f9fbff;
}

.container {
  margin: 1em;
}

@media(min-width: 750px) {
  .container {
    margin: 0 auto;
    max-width: 700px;
  }
}

@media(min-width: 1050px) {
  .container {
    max-width: 1000px;
  }
}

nav {
  background-color: #bfeb94;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  position: relative;
}

nav ul li:after {
  position: absolute;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  content: '';
  background-color: #f9fbff;
  border-radius: 15px;
  left: 0;
  right: 0;
  bottom: -5px;
  transition: all .2s ease-in-out;
  transform: scale(0);
}

nav ul li.active:after {
  transform: scale(1);
}

nav ul li + li {
  margin-left: 1em;
}

nav ul li > a {
  display: inline-block;
  padding: 1.5em 0;
  color: #666;
  text-decoration: none;
  font-weight: bold;
  transition: color .1s ease-in-out;
}

.active a {
  color: #333;
}

nav ul li > a:hover {
  color: #333;
}

.btn {
  display: block;
  width: 100%;
  padding: 1em 2em;
  background-color: #7ed321;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-weight: bold;
  transition: background-color .1s ease-in-out;
}

.btn:hover {
  background-color: #6eb91c;
  cursor: pointer;
}

.btn + .btn {
  margin-top: 1em;
}

.btn-secondary {
  background-color: #fff;
  color: #666;
  border: 1px solid #666;
}

.btn-secondary:hover {
  background-color: #eee;
}

a {
  color: #abaaab;
}

a:hover {
  color: #9a9a9a;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
  color: #5c5b5c;
}

h2 {
  text-align: center;
  color: #5c5b5c;
  font-weight: normal;
  font-size: 20px;
}

@media(min-width: 700px) {
  h1, h2 {
    text-align: left;
  }
}

ul.permit-list {
  margin: 0;
  padding: 0;
}

ul.permit-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  height: 100px;
  background-color: #ccc;
  border-radius: 5px;
  transition: .1s ease-in-out background-color;
}

ul.permit-list li:hover {
  cursor: pointer;
  background-color: #eee;
}

ul.permit-list li + li {
  margin-top: 1em;
}

@media(min-width: 500px) {
  ul.permit-list {
    display: flex;
  }

  ul.permit-list li {
    flex-basis: 0;
    flex-grow: 1;
  }

  ul.permit-list li + li {
    margin-top: 0;
    margin-left: 1em;
  }
}

.review-form-columns {
}

.review-form-columns section + section {
  margin-top: 1em;
}

@media(min-width: 700px) {
  .review-form-columns {
    display: flex;
  }

  .review-form-columns section {
    flex-basis: 0;
    flex-grow: 1;
  }

  .review-form-columns section + section {
    margin-top: 0;
    margin-left: 1em;
  }
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: .25em;
}

.form-group input {
  display: block;
  width: 100%;
}

.form-group input[type="text"] {
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0px 2px 2px 0px #ccc;
}

.form-group + .form-group {
  margin-top: 1em;
}

.map {
  display: flex;
  height: 300px;
  background-color: #ccc;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
}

.lead {
  margin-bottom: 5em;
}

@media(min-width: 700px) {
  .lead {
    width: 60%;
    display: inline-block;
  }
  .leadRight {
    width: 40%;
    margin-top: 8em;
    float: right;
  }
}

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
  visibility: hidden;
}

.overlay.in {
  background-color: rgba(0,0,0,.8);
  visibility: visible;
}

.in .modal {
  opacity: 1;
  transform: none;
}

.modal {
  opacity: 0;
  margin: 1em;
  padding: 1em;
  background-color: #fff;
  border-radius: 5px;
  color: #666;
  transition: .4s;
  transform: perspective(500px) rotateX(-20deg);
  transform-origin: 50% 0;
}

@media (min-width: 475px) {
  .modal {
    width: 60%;
  }
}

@media (min-width: 800px) {
  .modal {
    width: 30%;
  }
}
